@font-face {
	font-family: Roboto;
	src: url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: Roboto;
	src: url('~@/assets/fonts/Roboto/Roboto-Bold.ttf') format('opentype');
	font-weight: 700;
}